{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<div class="container">
        <!--Business News Sources-->
        <h3> Trending Business News Sources</h3>
        <hr>
        {{macro.displaySourceList(sources)}}

        <!--Trending Technology News Sources-->
        <h3> Trending Technology News Sources</h3>

        <hr>
        {{macro.displaySourceList(technology_sources)}}
        

        <!--Trending Entertainment Sources-->
        <h3> Trending Entertainment News Sources</h3>
        <hr>
        {{macro.displaySourceList(technology_sources)}}

        <!--Trending Sports News Sources-->
        <h3> Trending Sports News Sources</h3>
        <hr>
        {{macro.displaySourceList(technology_sources)}}
    
</div>

{% endblock %}


